@use 'sass:meta';

:is(priorauth-capture-mri-info, priorauth-requested-services-summary, priorauth-confirm-ct-instead-of-mri) {
    @include meta.load-css('./app/process/requested-service.scss');
    @include meta.load-css('./app/member/member-search/member-search.scss');
    display: block;
}

html,
body {
    margin: 0;
    min-height: 100%;
    background: #f6f8fb;
}

body {
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}
